///*------------------------------------*\
//    #ANCHOR BUTTONS
//\*------------------------------------*/

/* VARIABLES
========================================================================== */

/* BUTTONS
========================================================================== */
.anchor-button {
	width: 176px;
	height: 64px;
	display: flex;
	cursor: pointer;
	font-weight: 900;
	line-height: 120%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	-webkit-appearance: none;
	text-transform: lowercase;
	color: $color-cloud-burst;
	font-family: $font-primary;
	background-color: $color-white;
	@include rem(font-size, 13px);
	// @include rem(padding, 10px 20px);
	border: 3px solid $color-cloud-burst;
	transition: color ease $basic-transition, 
										border-color ease $basic-transition,
										background-color ease $basic-transition;

	&:hover, &:focus {
		opacity: 1;
		color: $color-white;
		border-color: $color-cloud-burst;
		background-color: $color-cloud-burst;
		transition: color ease $basic-transition,
								border-color ease $basic-transition,
								background-color ease $basic-transition;
	}

	& + .anchor-button {
		@include rem(margin-left, 5px);
	}

}

/* COLOR VARIATIONS
========================================================================== */
.anchor-button--color-2 {
	color: $color-mine-shaft;
	border-color: $color-lightning-yellow;
	background-color: $color-lightning-yellow;

	&:hover, &:focus {
		opacity: .7;
		color: $color-mine-shaft;
		border-color: $color-golden-grass;
		background-color: $color-golden-grass;
		transition: opacity ease $basic-transition;
	}

}

.anchor-button--color-3 {
	color: $color-white;
	border-color: $color-white;
	background-color: $color-mine-shaft;

	&:hover, &:focus {
		color: $color-mine-shaft;
		border-color: $color-white;
		background-color: $color-white;
	}

}

.anchor-button--color-4 {
	color: $color-white;
	border-color: $color-cloud-burst;
	background-color: $color-cloud-burst;

	&:hover, &:focus {
		color: $color-cloud-burst;
		border-color: $color-white;
		background-color: $color-white;
	}

}

.anchor-button--color-5 {
	color: $color-white;
	border-color: $color-gold;
	background-color: transparent;

	&:hover, &:focus {
		color: $color-mine-shaft;
		background-color: $color-gold;
		border-color: $color-gold;
	}

}

/* SIZE VARIATIONS
========================================================================== */
.anchor-button--size-2 {
	@include rem(font-size, 18px);
}

.anchor-button--size-3 {
	@include rem(font-size, 11px);
}