/*
*********************
****** FOOTER *******
*********************
*/


/*
*
* FOOTER WAPPER
*
*/

.footer {
	@include rem(padding-top, 64px);
	
	.footer__links {
		width: 100%;
		float: left;
		display: flex;
		// flex-flow: column;
		justify-content: space-between;

		.subtitle {
			color: #000;
			font-style: normal;
			@include rem(font-size, 24px);
		}

		.links-list {
			.links-list__item {
				.links-list__anchor {
					font-weight: 900;
					line-height: 267%;
					text-decoration: underline;
					text-transform: uppercase;
					@include rem(font-size, 12px);
				}
			}
		}

		@include breakpoint(small) {
			flex-flow: column;
			
			.footer__link-item {
				margin-bottom: 50px;
			}
		}

		@include breakpoint(desktop) {
			width: 65%;
			flex-flow: row;
			padding-right: 35px;
		}
	}

	.footer__social {
		float: right;
		width: 285px;

		.social-networks__item {
			margin: 0 24px 24px 0;

			&:nth-child(5) {
				margin: 0;
			}
		}
	}
}

/*
*
* POWERED
*
*/

.powered {
	width: 100%;
	display: flex;
	flex-flow: row;
	position: relative;
	align-items: center;
	padding-bottom: 50px;
	justify-content: space-between;

	.powered__title {
		text-transform: uppercase;
		@include rem(font-size, 12px);

		a {
			text-decoration: underline;
		}
	}

	.powered_link {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;

		.p__link {
			&:nth-child(1) {
				a {
					width: 36px;
					line-height: 210%;
					border-right: 2px solid;
					font-family: $font-special;
					@include rem(font-size, 15px);
				}
			}
			&:nth-child(2) {
				a {
					width: 51px;
					padding: 0 4px;
					line-height: 210%;
				}
			}
			&:nth-child(3) {
				a {
					width: 20px;
					display: block;
				}
			}
		}
	}
}
