/*
*********************
***** SPONSORS ******
*********************
*/


/*
*
* SPONSORS WAPPER
*
*/

.sponsor {
	@include rem(padding-top, 64px);
	background-color: $sunny-yellow;
}

.sponsor-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.sponsor-category {
		margin: 15px;

		.subtitle {
			color: $color-black;
			font-style: normal;
			@include rem(font-size, 12px);
		}		
	}

	.sponsor-list {
		display: flex;
		flex-flow: column;

		.sponsor-list__item {
			margin-bottom: 15px;

			.sponsor-list__anchor {
				.sponsor-list__thumb {
					width: 120px;
					filter: grayscale(100%);
				}
			}
		}
	}
}