/*
*********************
****** TICKER *******
*********************
*/

.header-container {
	width: 100%;
	background-color: $color-black;
}

.header-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	@include rem(margin-top, 62px);

	@include breakpoint(tablet-and-up) {
		@include rem(margin-top, 123px);
	}

	.header__tp {
		display: flex;
		flex-flow: column;
		padding-left: 78px;

		.paragraph {
			color: #fff;
			width: 145px;
			line-height: 3;
			margin-bottom: 0;
			@include transition;
			align-self: flex-end;
			display: inline-block;
			text-transform: uppercase;
			@include rem(font-size, 12px);
		}

		@include breakpoint(tablet-and-up) {
			flex-flow: row;
			@include transition;
		}
	}

	.header__li {
		display: flex;
		flex-flow: row;
		margin-top: 32px;
		min-height: 120px;
		border-right: 1px solid #fff;
		justify-content: space-between;

		a {
			color: white;
		}

    .paragraph {
    	width: 145px;
    	font-weight: 900;
    	text-align: right;
    	line-height: 200%;
    	margin-right: 20px;
    	position: relative;
    	padding-left: 10px;
    	@include transition;
    	text-transform: uppercase;
    	@include rem(font-size, 12px);

    	&:after {
    		content: "";
	    	right: 0;
	    	bottom: 0;
	    	width: 28px;
	    	height: 17px;
	    	@extend .bounce;
	    	position: absolute;
	    	display: inline-block;
				background: url('../img/icons/icon-arrow.svg') transparent no-repeat top center;
    	}
    }

    @include breakpoint(tablet-and-up) {
			flex-flow: row;
			padding-left: 78px;
			@include transition;

			.paragraph {
				padding-left: 0;
				margin-right: 30px;
				@include transition;
				@include rem(font-size, 16px);
			}
		}
	}
}

/*
*
* ELEMENTS
*
*/

.header__logo {
	position: absolute; @include rem(top, 10px);
	z-index: $z-index-jump;
	width: 145px; height: 104px;

	@include breakpoint(tablet-and-up) {
		@include rem(top, 5px);
		width: 166px; height: 119px;
	}

	@include breakpoint(desktop-and-up) {
		@include rem(top, 25px);
		width: auto; height: auto;
	}
}

.header__title {
	margin: 0;
	text-align: left;
	max-width: 448px;
	line-height: 110%;
	min-height: 300px;
	@include transition;
	color: $color-white;
	display: inline-block;
	text-transform: uppercase;
	font-family: $font-special;
	@include rem(font-size, 40px);

	@include breakpoint(desktop-and-up) {
		@include transition;
		@include rem(font-size, 80px);
	}
}