/*
*********************
**** NAVIGATION *****
*********************
*/


/*
*
* VARIABLES
*
*/

$navigation-item-color: $color-white;
$navigation-border-margin: 8px;
$navigation-hamburger-stick-height: 2px;
$navigation-hamburger-stick-width: 12px;


/*
*
* WRAPPER
*
*/

.nav-braziljs {
	background-color: $color-black;

	.nav-logo {
		width: 72px;
		height: 107px;
		position: relative;

		&:hover {
			opacity: 1;
		}
	}

	&[data-type="default"] {
		background-color: #fff;

		.header__logo {
			max-width: 130px;
		}

		.menu-item {
			color: #000;
			font-weight: 900;
		}

		.nav-logo {
			width: 127px;
		}
	}

	&[data-type="search"] {
		@extend .nav-braziljs[data-type="default"];
	}

	&[data-type="on-the-road"] {
		.nav-logo {
			width: 127px;
		}
	}

	.nav-wrapper {
		display: flex;
		margin-top: 30px;
		justify-content: space-between;

		@include breakpoint(tablet-and-up) {
			margin-top: 60px;
		}
	}
}


.nav-wrapper-list {

}

.navigation-list {

	.is-open & {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		position: fixed;
		z-index: $z-index-sky;
		flex-direction: column;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.9215686274509803);
		animation: openNavigationModal $basic-transition ease 1 normal forwards;
	}

}

//When the modal is oppened, stop the page scroll.
.body.navigation-is-open {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}


/*
*
* NAVIGATION ITEM
*
*/

.navigation-item {
	display: none;

	@include breakpoint(desktop-and-up) {
		display: inline-block;
	}

	.is-open & {
		display: block;
	}

}


/*
*
* NAVIGATION ITEMS
*
*/

.menu-item {
	color: #fff;
	line-height: 120%;
	position: relative;
	display: inline-block;
	text-transform: lowercase;
	@include rem(font-size, 14px);

	& + .menu-item {
		@include rem(margin-left, 30px);
	}

	a {
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			position: absolute;
			background-color: $sunny-yellow;
			opacity: 0;
			transform: translateY(0);
			transition: opacity ease $basic-transition,
								transform ease $basic-transition;
		}

		&:hover, &:focus {
			opacity: .7;

			&:after {
				opacity: 1;
				transform: translateY($navigation-border-margin);
			}

		}

	}

	.is-open & {
		color: #fff;
		margin-left: 0;
		display: block;
		text-align: center;
		@include rem(font-size, 16px);
		@include rem(margin-bottom, 25px);
		animation: animateNavigationItems $basic-transition ease 1 normal forwards;

		&:last-child {
			margin-bottom: 0;
		}

	}

}

.current-menu-item {
	color: rgba($navigation-item-color, .5);
	pointer-events: none;

	a {
		&:after {
			opacity: 1;
			@include rem(margin-top, $navigation-border-margin);
		}

		&:hover, &:focus {
			&:after {
				transform: none;
			}
		}

	}

}

/* NAVIGATION ICONS
========================================================================== */
.navigation-toogler {
	display: block;
	border: none;
	outline: none;
	background-color: transparent;
	transition: opacity ease .4s;
	cursor: pointer;

	&:hover, &:focus { opacity:.6; }

	@include breakpoint(desktop-and-up) {
		display: none;
	}

	.is-open & {
		position: relative;
		z-index: $z-index-moon;
	}

}

.navigation-toogler__burguer {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	@include rem(margin-top, -2px); @include rem(margin-left, 5px); @include rem(margin-right, 5px);
	width: $navigation-hamburger-stick-width; height: $navigation-hamburger-stick-height;
	background-color: $navigation-item-color;
	border-radius: 6px;
	transition: all ease .4s;

	&:before, &:after {
		content:'';
		position: absolute; left: 0;
		width: $navigation-hamburger-stick-width; height: $navigation-hamburger-stick-height;
		background-color: $navigation-item-color;
		border-radius: 6px;
		transition: all ease .4s;
	}

	&:before { top: 4px; }

	&:after { bottom: 4px; }

	.is-open & {
		top: -5px;
		background-color: transparent;
		&:before { transform: rotate(130deg); top: 5px; }
		&:after { top: 5px; transform: rotate(-130deg); }
	}

}

.navigation-toogler__text {
	font-weight: 900;
	position: relative; top: 1px;
	display: inline-block;
	@include rem(margin-right, 5px);
	@include rem(font-size, 13px);
	font-family: $font-primary;
	color: $navigation-item-color;
	text-transform: uppercase;
}


/*
*
* ANIMATIONS
*
*/

// OPEN NAVIGATION MODAL ANIMATION
@keyframes openNavigationModal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

// ANIMATE THE MODAL ITEMS INSIDE THE MOBILE NAVIGATION
@keyframes animateNavigationItems {
	from {
		transform:translateY(150%);
	}
	to {
		transform:translateY(0);
	}
}