/*
*********************
****** COURSES ******
*********************
*/

.courses-alura {
	padding: 0 15px;

	.card-wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		@include breakpoint(tablet-and-up) {
			justify-content: space-around;			
		}

		.courses-list__item {
			width: 200px;
			margin: 0 20px;
			
			.card-header {
				width: 100%;
				height: 200px;
				border: 5px solid #000;

				a {
					display: flex;
					justify-content: center;
 
					img {
						max-width: 100px;
					}
				}
			}

			.card__title {
				text-transform: uppercase;
				@include rem(font-size, 14px);
			}

			.card__content {
				width: 100%;
				padding: 5px;
				margin: 20px 0;
				margin-top: -20px;
				margin-left: 50px;
				background-color: #fff;
			}
		}
	}
}
