/*
*********************
****** EVENTS *******
*********************
*/

/*
*
* HEADER
*
*/

.e-single {
	z-index: 3;
	position: relative;

	.e-title {
    z-index: 2;
    top: -45px;
    left: 10px;
    color: #fff;
    width: 170px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    text-transform: lowercase;

		.e-l,
		.e-r {
			font-size: 1.5em;
		}

		@include breakpoint(tablet-and-up) {
	    width: auto;
	    top: -105px;
	    left: 150px;
	    position: absolute;
	    font-size: 25px;
		}
	}

	.content {
		position: relative;
	}

	.header__title {
		max-width: 400px;
	}

	.header__li {
		@include breakpoint(small) {
			padding: 0 15px;
			flex-flow: column;
			align-items: flex-end;
		}

		.paragraph {
			width: 300px;
			color: #fff;

			@include breakpoint(small) {
				width: 100%;
				margin: 15px 0 15px 0;
			}

			&:after {
				content: none;
			}
		}
	}

	.single-event__list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.ingresse-widget {
		display: block;
	}
}



/*
 *
 * NEXT EVENTS
 *
*/

.event-list {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	@include rem(margin-bottom, 64px);

	@include breakpoint(tablet-and-up) {
		flex-flow: row wrap;
		align-items: normal;
	}

	.events-list__item {
		width: 240px;
		margin-bottom: 32px;
	}

	.card {
    z-index: 0;

		.card__header {
			width: 100%;
			height: 320px;
			@include background-image(null, cover);
		}

		.card__content {
			width: 100%;
			margin: 32px 0 0 0;

			.card__title a {
				text-decoration: underline;
			}
		}

		[data-bg="none"] {
	    background-size: 100% 33px;
	    background-repeat: repeat-y;
			background-image: linear-gradient(black 1px, white 0, white);
		}
	}
}


/*
*
* SCHEDULE CALENDAR
*
*/

.calendar-list__item {

	&:nth-child(odd) {
		clear: left;
	}

	&:nth-child(even) {
		margin-right: 0;
	}

}
