/*
*********************
******* POST ********
*********************
*/


/*
*
* VARIABLES
*
*/

/* ====== */

.wrapper__post-icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #000;
	background: transparent;

	&.sharer,
	&.comment,
	&.tweet {
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			content: '';
			width: 16px;
			height: 16px;
			display: block;
		}
	}

	&.sharer {
		&:before {
			@include background-image('icons/icon-share.svg', contain);
		}
	}

	&.comment {
		&:before {
			@include background-image('icons/icon-comment.svg', contain);
		}
	}

	&.tweet {
		&:before {
			@include background-image('icons/icon-twitter.svg', contain);
		}
	}
}

$post-header-background: $color-mine-shaft;
$post-header-padding: 0 80px;
$inner-border-space: 5px;
$post-content-wrapper-width-medium: 600px;
$post-content-wrapper-width-desktop: 800px;


/*
*
* HEADER
*
*/

.post-header {
	padding-top: 150px;
	background-color: #fff;

}

.post-thumb {
	width: 100%;
	height: 500px;
	margin: 60px 0;

	.header__thumb {
		width: 100%;
		height: 100%;
		filter: grayscale(100%);
		@include background-image(null, cover);
	}
}

.post-header__content {
	padding: $post-header-padding;
}


/*
*
* WRAPPER
*
*/

.header__meta-wrapper {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.page-container {
	margin-bottom: 75px;
}

.header__meta-author {
	display: flex;
	flex-flow: row;
	min-width: 180px;
	line-height: 120%;
	@include rem(font-size, 13px);
	justify-content: space-between;

	@include breakpoint(small) {
		min-width: 100px;
		flex-flow: column;
		margin-right: 20px;
		justify-content: unset;
	}

	.header__author-info {

		@include breakpoint(small) {
			margin-bottom: 20px;
		}

		.header__meta-name {
			color: #000;
			font-weight: bold;
			line-height: 267%;
			text-transform: uppercase;
			@include rem(font-size, 12px);
		}

		.header__meta-time {
			width: 100%;
			color: #888888;
			display: block;
			position: relative;
			margin-bottom: 10px;
			text-transform: uppercase;
			@include rem(font-size, 12px);

			@include breakpoint(tablet-and-up) {
				text-align: right;
				display: inline-block;
			}
		}
	}

	.header__author-social {
    height: 160px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(small) {
    	padding-right: 30px;
    }

		.author-container__thumb {
			margin: 0;
			position: relative;

			.avatar {
				border-radius: 50%;
			}

			img {
				width: 48px;
				height: 48px;
				filter: grayscale(100%);
			}
		}

		.header__post-icon {
			@extend .wrapper__post-icon;
		}
	}
}


/*
*
* SOCIAL ICONS POST
*
*/

.header__meta-post {
	max-width: 700px;

	.post-name {
		font-weight: 900;
		line-height: 150%;
		@include transition;
		@include rem(font-size, 45px);

		@include breakpoint(small) {
			@include transition;
			@include rem(font-size, 20px);
		}
	}
}

.header__meta-category {
	margin: 15px 0;
	display: inline-block;

	.post-categories {
		display: inline-block;

		li {
			position: relative;
			display: inline-block;

			&:not(:last-child) {

				&:after {
					content: ', ';
				}

			}

		}

		a {
			font-weight: 900;
			line-height: 267%;
			position: relative;
			text-transform: uppercase;
			@include rem(font-size, 13px);
		}

	}
}

.header__author-description {
	line-height: 267%;
	font-weight: normal;
	@include rem(font-size, 12px);
}

/*
*
* POST CONTENT
*
*/

.post-content-wrapper {
	width: 100%;

	@include breakpoint(tablet-and-up) {
		// float: right;
		// @include rem(max-width, 700px);
	}

}

.post-entry {
	@include rem(margin-bottom, 40px);

	@include breakpoint(tablet-and-up) {
		float: right;
		max-width: 700px;
		@include rem(margin-bottom, 70px);
	}

	//ANCHORS
	a {
		color: #000;
		font-weight: 900;
		text-transform: uppercase;
		text-decoration: underline;
	}

	iframe {
		@include breakpoint(small) {
			width: 100%;
		}
	}

	pre {
		@include rem(font-size, 12px);
	}

	//BLOCKQUOTE
	blockquote {
		position: relative;
		font-style: italic;
		text-transform: uppercase;
		@include rem(padding, 25px 0);
		@include rem(margin, 25px 0 25px 10px);

		@include breakpoint(tablet-and-up) {
			@include rem(margin, 55px 0 55px 80px);
		}

		&:before, &:after {
			content: '';
			left: 0;
			position: absolute;
			@include rem(width, 44px);
			@include rem(height, 3px);
			background-color: currentColor;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}

		p {
			margin-bottom: 0 !important;
			line-height: 200%;
		}

	}

	//PARAGRAPHS
	p {
		line-height: 267%;
		color: $color-mine-shaft;
		font-family: $font-primary;
		@include rem(font-size, 12px);
		@include rem(margin-bottom, 25px);
	}

	//HEADINGS
	h2, h3 {
		font-weight: 900;
		margin-top: 80px;
		line-height: 120%;
		position: relative;
		text-transform: uppercase;
	}

	h2 {
		font-style: italic;
 		@include rem(margin-bottom, 15px);
		@include rem(font-size, 16px);

		@include breakpoint(tablet-and-up) {
			@include rem(font-size, 20px); color: $color-mine-shaft;
		}

	}

	h3 {
		color: #000;
		height: 50px;
		margin-bottom: 15px;
		border-bottom: 1px solid #000;
		@include rem(font-size, 12px);

		@include breakpoint(tablet-and-up) {
			@include rem(margin-bottom, 30px);
		}

		&:after {
			content: '';
	    width: 100%;
	    margin-top: 10px;
	    display: block;
	    border-bottom: 1px solid #000;
		}
	}

	//YOUTUBE EMBED
	.embed-figure__container {
		position: relative;
		overflow: hidden;
		@include rem(margin-bottom, 20px);
		padding-bottom: 56.25%;
		height: 0; height: auto;

		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
		}
	}

	//CAPTIONS
	.wp-caption {
		max-width: 100%;
		text-align: center;
	}

	.wp-caption-text {
		@include rem(margin-top, -35px);
		@include rem(font-size, 14px); line-height: 130%; color: $color-emperor; font-style: italic;
	}

	//IMAGES
	img {
		@include rem(margin, 35px auto 40px auto);
	}

	.alignleft {
		float: left;


		@include breakpoint(tablet-and-up) {
			@include rem(margin, 5px 30px 0 -80px);
		}

	}

	.aligncenter {
		display: block;
		@include rem(margin, 35px auto 40px auto);
	}

	.size-large {
		position: relative;
		left: 50%;
		display: block;
		max-width: 115%; height: auto;
		transform: translateX(-50%);

		@include breakpoint(desktop-and-up) {
			max-width: 135%;
		}

	}

	//LIST
	ul {
		@include rem(margin-top, -10px);
		@include rem(margin-bottom, 20px);
		@include rem(padding-left, 20px);

		@include breakpoint(desktop-and-up) {
			@include rem(padding-left, 50px);
		}
	}

	li {
		list-style: disc;
		font-weight: 900;
		line-height: 120%;
		position: relative;
		@include rem(font-size, 12px);
		@include rem(margin-bottom, 10px);

	}

}

.entry-title {
	@include rem(margin-bottom, 5px);
	line-height: .85;
}

/*
*
* TAGS LIST
*
*/

.tags-list-wrapper {
	width: 100%;
	color: #000;
	display: block;
	font-weight: 900;
	margin-bottom: 40px;
	text-transform: uppercase;

	@include rem(font-size, 12px);


	@include breakpoint(desktop-and-up) {
		@include rem(margin-top, -30px);
	}

	.tags-list__title {
		color: #000;
		height: 50px;
		margin: 0 5px 30px 0;
		border-bottom: 1px solid #000;
		@include rem(font-size, 12px);

		@include breakpoint(tablet-and-up) {
			@include rem(margin-bottom, 30px);
		}

		&:after {
			content: '';
	    width: 100%;
	    display: block;
	    margin-top: 10px;
	    border-bottom: 1px solid #000;
		}
	}

	.tags-list {
		display: block;

		li {
			display: inline-block;
		}

	}

}

.tags-list__item {
	margin: 0 30px 10px 0;

	a {
		color: #fff;
		padding: 10px;
		border: 1px solid #000;
		background-color: #000;
		@include rem(font-size, 12px);
	}
}


/*
*
* POST SHARER
*
*/

.post-share {
	display: flex;

	.post-share__item {
		margin-right: 40px;
		@extend .wrapper__post-icon;
	}
}

.read-more {
	margin-top: 64px;
}

/* AUTHOR CONTAINER
========================================================================== */
.author-container {
	display: flex; flex-direction: column;
	@include rem(margin-bottom, 60px); padding: 0;
	text-align: center;

	@include breakpoint(tablet-and-up) {
		flex-direction: row;
		@include rem(margin-bottom, 80px); @include rem(padding, 0 20px);
		text-align: left;
	}

	@include breakpoint(desktop-and-up) {
		@include rem(padding, 0 60px);
	}

}

.author-container__info-container {
	width: 100%;
}

.author-container__name {
	display: inline-block;
	@include rem(margin-bottom, 35px);
}