///*------------------------------------*\
//    #HOME LAYOUT
//\*------------------------------------*/

/* VARIABLES
========================================================================== */

/* VIDEOS
========================================================================== */

.home-videos__wrapper {
	position: relative;
	@include rem(padding, 64px 0);
	background-color: $color-black;

	@include breakpoint(tablet-and-up) {
		// @include rem(padding-bottom, 100px);
	}

	@include breakpoint(desktop-and-up) {
		// padding-top: 0;
	}

}

.home-videos__item-list {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
  @include rem(margin-bottom, 35px);
	
	@include breakpoint(tablet-and-up) {
		flex-flow: row wrap;
		align-items: normal;
	}

	.home-videos__item {
		width: 100%;

		.media-wrapper {
			height: 176px;

			.highlight_button-play:hover {
				opacity: 1;
			}
		}

		@include breakpoint(desktop-and-up) {
			width: 300px;
		}
	}
}

.home-videos__title {
	font-weight: 900;
	line-height: 120%;
	font-style: italic;
	color: $color-white;
	text-transform: uppercase;

	@include rem(font-size, 20px);
	@include rem(margin-bottom, 15px);
}

.home-videos__info {
	width: 50%;
	float: left;
	font-weight: 900;
	font-family: $font-primary;
	@include rem(font-size, 14px);

	@include breakpoint(tablet-and-up) {
		width: 100%;
		@include rem(font-size, 14px);
	}

}
