/*
*********************
******* HOME ********
*********************
*/


/*
*
* VIDEOS
*
*/

.home-videos__wrapper {
	min-height: 600px;
	position: relative;
	@include rem(padding, 64px 0);
	background-color: $color-black;
}

.home-videos__title {
	@extend .title;
	@include transition;

	& > * {
		@include transition;
	}

	@include breakpoint(small) {
		text-align: center;
		margin-bottom: 15px;
	}
}


.home-videos__subscribe {
	width: 100%;
	float: right;
	text-align: center;
	margin: 0 0 25px 0;
	@include transition;
	display: inline-block;

	& > * {
		@include transition;
	}

	&:before {
		content: '';
		width: 32px;
		height: 32px;
		margin-right: 0;
		min-width: 32px;
		display: inline-block;
		@include background-image('icons/icon-youtube.svg', cover);
	}

	.subscribe__link {
		width: 100%;
		line-height: 200%;
		font-weight: 900;
		color: $color-white;
		@include rem(font-size, 16px);
	}

	@include breakpoint(tablet-and-up) {
		width: 50%;
    display: flex;
    flex-flow: row;
    margin: 25px 0 25px 0;
    justify-content: flex-end;
		
		&:before {
			margin: 0 30px;
		}
	}
}

.home-videos__item-list {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
  @include rem(margin-bottom, 35px);
	
	@include breakpoint(tablet-and-up) {
		flex-flow: row wrap;
		align-items: normal;
	}

	.home-videos__item {
		width: 100%;
		max-width: 300px;

		.media-wrapper {
			height: 176px;

			.highlight_button-play:hover {
				opacity: 1;
			}
		}

		@include breakpoint(desktop-and-up) {
			width: 300px;
		}
	}
}

.home-videos__info {
	width: 100%;
	float: left;
	font-weight: 900;
	font-family: $font-primary;
	@include rem(font-size, 14px);
}

/*
*
* VINE OPENING
*
*/

[data-vine="1"] {
	overflow: hidden;

	.brjs-opening-video {
		display: block;
	}
}

.brjs-opening-video {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
  background-color: rgba(0, 0, 0, 0.84);
	// background: #fff;
	z-index: 99999995;
	@include transition;
	// background-color: #fff;
	// transition-duration: 2s;

	.video-loading-message {
    color: #FFF;
		text-transform: uppercase;
		text-align: center;
		width: 90%;
		height: 200px;
		position: absolute;
		left: 0;
		line-height: 150%;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		font-family: Anton;
		letter-spacing: 5px;
		font-size: 2rem;
		/* font-weight: bold; */
		/* text-shadow: 0 0 1px #fff, 0 0 100px #000; */
		animation: fade-and-zoom-in 1 4s ease-out;

		// .p-1 {
		// 	animation: fade-and-zoom-in 1 1s ease-out;
		// }

		// .p-2 {
		// 	animation: fade-and-zoom-in 2 2s ease-out;
		// }

		// .p-3 {
		// 	animation: fade-and-zoom-in 1 3s ease-out;
		// }
	}
	
	video {
		// width: 100%;
		visibility: hidden;
		height: 100%;
		position: fixed;
		top: -99999px;
		bottom: -99999px;
		left: -99999px;
		right: -99999px;
		margin: auto;
		min-width: 100%;
		// margin-left: -25%;
		z-index: 99999999;
		background-color: #000;
	}
}

// .modal-overlay {
//   position: fixed;
//   z-index: 999;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   height: 100%;
//   width: 100%;
//   opacity: .8;
//   background: #000;
//   will-change: opacity;
//   @include transition;
// }

@keyframes fade-and-zoom-in {
	0% {
		opacity: 0;
		transform: scale(.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
