/*
*********************
******* HOME ********
*********************
*/


/*
*
* VIDEOS
*
*/

.home-videos__wrapper {
	min-height: 600px;
	position: relative;
	@include rem(padding, 64px 0);
	background-color: $color-black;
}

.home-videos__title {
	@extend .title;
	@include transition;

	& > * {
		@include transition;
	}

	@include breakpoint(small) {
		text-align: center;
		margin-bottom: 15px;
	}
}


.home-videos__subscribe {
	width: 100%;
	float: right;
	text-align: center;
	margin: 0 0 25px 0;
	@include transition;
	display: inline-block;

	& > * {
		@include transition;
	}

	&:before {
		content: '';
		width: 32px;
		height: 32px;
		margin-right: 0;
		min-width: 32px;
		display: inline-block;
		@include background-image('icons/icon-youtube.svg', cover);
	}

	.subscribe__link {
		width: 100%;
		line-height: 200%;
		font-weight: 900;
		color: $color-white;
		@include rem(font-size, 16px);
	}

	@include breakpoint(tablet-and-up) {
		width: 50%;
    display: flex;
    flex-flow: row;
    margin: 25px 0 25px 0;
    justify-content: flex-end;
		
		&:before {
			margin: 0 30px;
		}
	}
}

.home-videos__item-list {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
  @include rem(margin-bottom, 35px);
	
	@include breakpoint(tablet-and-up) {
		flex-flow: row wrap;
		align-items: normal;
	}

	.home-videos__item {
		width: 100%;
		max-width: 300px;

		.media-wrapper {
			height: 176px;

			.highlight_button-play:hover {
				opacity: 1;
			}
		}

		@include breakpoint(desktop-and-up) {
			width: 300px;
		}
	}
}

.home-videos__info {
	width: 50%;
	float: left;
	font-weight: 900;
	font-family: $font-primary;
	@include rem(font-size, 14px);

	@include breakpoint(tablet-and-up) {
		width: 100%;
		@include rem(font-size, 14px);
	}

}

/*
*
* VINE OPENING
*
*/

[data-vine="true"] {
	overflow: hidden;

	.brjs-opening-video {
		display: block;
	}
}

.brjs-opening-video {
	top: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	opacity: 1;
	display: none;
	position: fixed;
	@include transition;
	background-color: #000;
	// transition-duration: 2s;
	
	video {
		width: 100%;
		height: 100%;
	}
}

// .modal-overlay {
//   position: fixed;
//   z-index: 999;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   height: 100%;
//   width: 100%;
//   opacity: .8;
//   background: #000;
//   will-change: opacity;
//   @include transition;
// }


