/*
*********************
******* CONF ********
*********************
*/


/*
*
* NAVIGATION
*
*/

.nav-braziljs {
	.nav-wp {
		display: flex;
		flex-flow: column;

		@include breakpoint(tablet-and-up) {
			flex-flow: row;
		}

		.nav-wrapper-list {
			margin: 0 10px;
		}

		.navigation-list {
			margin: 23px 30px 23px 0;
		}
	}
}

.ingresse-widget {
	display: none;

	@include breakpoint(desktop-and-up) {
		display: flex;
	}

	.embedstore-powered {
		display: none;
	}
	
	button {
		@extend .anchor-button;
		
		color: #fff !important;
		background-color: #000 !important;
		border-color: $sunny-yellow;

		&:hover, &:focus {
			color: #000 !important;
			border-color: $pea !important;
			background-color: $pea !important;
		}
	}
}


/*
*
* WRAPPER
*
*/


/* HEADER */

.l-page {
	position: relative;
	overflow: hidden;

	#header-animation {
		position: absolute;
		width: 100%;
		// height: calc( 100% - 300px );
		pointer-events: none;
		height: 100%;
		top: 0;
		filter: sepia();
	}
	.title__main {
		position: relative;
		z-index: 999;
		text-shadow: 0 0 100px black, 0 0 1px red;
		filter: drop-shadow(0 0 10px #000);
		transform: scale(1.3);
		display: inline-block;
		white-space: pre;
	}
	.title__secondary {
		padding-left: 30px;
	}
	.header-wrapper {
		.header__li {
			.paragraph {
				width: 173px;

				&:after {
					content: none;
				}
			}
		}
	}
}

/* END * HEADER */



/* CALL4 PAPER */

.conf-wp-buy {
	display: flex;
	padding: 64px 0;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;

	@include breakpoint(tablet-and-up) {
		flex-flow: row;
		align-items: normal;
	}

	.conf__description {
		width: 240px;

		p {
			font-weight: 900;
			line-height: 167%;
			text-transform: uppercase;
			@include rem(font-size, 24px);
		}
	}

	.background-divisor {
		width: 200px;
		background-size: 100% 33px;
		background-repeat: repeat-y;
		background-image: linear-gradient(black 1px, white 0, white);

		@include breakpoint(small) {
			height: 100px;
			margin: 30px 0;
		}
	}

	.conf__call-and-buy {
		width: 200px;

		.desc {
			margin-bottom: 30px;

			p {
				font-weight: 900;
				text-align: right;
				margin-bottom: 0;
			}
		}

		.conf__buttons {
			display: flex;
			flex-flow: column;
			align-items: flex-end;

			a {
				// margin-bottom: 30px;
			}
		}

		.anchor-button {
			margin: 0;
		}

		.ingresse-widget {
			margin-bottom: 30px;

			button {
				color: #000 !important;
				background-color: #fff !important;
				border-color: #000;

				&:hover, &:focus {
					color: #fff !important;
					border-color: #000 !important;
					background-color: #000 !important;
				}
			}
		}
	}
}

/* END * CALL4 PAPER */


/*
*
* GRID SPEAKER
*
*/

.speakers-grid__wrapper {
	.speakers-grid__list {
		position: relative;

		.speakers-list__item {
			display: inline-block;

			@include breakpoint(small) {
				width: 100%;
				margin-bottom: 40px;
				overflow-x: scroll;
			}

			.speakers-card {
				display: flex;
				flex-flow: row wrap;

				.speakers-card__header {
					height: 320px;
					min-width: 240px;
					max-width: 240px;
					margin-right: 70px;
					display: inline-block;

					@include breakpoint(small) {
						margin: 0 auto;
					}

					.speakers-card__thumb {
						width: 100%;
						height: 100%;
						filter: grayscale(100%);
						@include background-image(null, cover);
					}
				}

				.speakers-card__content {
					width: 210px;
					text-align: left;
					display: inline-block;
					text-transform: uppercase;

					.speakers-card__title	 {
						line-height: 167%;
						font-weight: 900;
						margin-bottom: 15px;
						@include rem(font-size, 24px);
					}

					.speakers-card__paragraph {
						color: #000;
						display: block;
						font-weight: 900;
						line-height: 270%;
						text-transform: uppercase;
						font-family: $font-primary;

						@include rem(font-size, 12px);
					}
				}
			}

			&:nth-child(1) {

				@include breakpoint(tablet-and-up) {
					margin-bottom: 90px;
				}

				.speakers-card {
					.speakers-card__header {
						position: relative;

						&:after {
							content: '';
					    left: -35px;
					    bottom: 30px;
					    width: 230px;
					    height: 25px;
					    display: block;
					    position: absolute;
					    background-color: $sunny-yellow;
						}
					}
				}
			}

			&:nth-child(2) {
				width: 100%;

				@include breakpoint(desktop) {
					top: 10%;
					right: 0;
					min-width: 280px;
					position: absolute;
				}

				.speakers-card {
					width: 100%;
					float: left;
					display: flex;

					@include breakpoint(tablet-and-up) {
						width: 280px;
						float: right;
						flex-flow: column;
					}

					.speakers-card__header {
						border: 30px solid $sunny-yellow;

						@include breakpoint(tablet-and-up) {
							margin-right: 0;
						}
					}

					.speakers-card__content {
						position: relative;

						@include breakpoint(tablet-and-up) {
							left: 70px;
							bottom: 30px;
							text-align: right;
						}

						.speakers-card__title {
							@include breakpoint(tablet-and-up) {
								padding: 0 0 0 50px;
							}
						}
					}
				}
			}

			&:nth-child(3) {
				.speakers-card {

					@include breakpoint(tablet-and-up) {
						flex-flow: row-reverse;
					}

					.speakers-card__header {
						position: relative;
						// padding-top: 40px;

						@include breakpoint(tablet-and-up) {
							margin-left: 50px;
						}

						.speakers-card__thumb {
							&:before {
								content: '';
								top: 0;
								width: 100%;
								height: 40px;
								position: absolute;
								background-color: #000;
							}
						}
					}
				}
			}
		}
	}
}


/*
*
* END * GRID SPEAKER
*
*/


/*
*
* HOTEL
*
*/

.hostels-wrapper {
	display: flex;
	min-height: 160px;
	padding: 15px 50px;
	flex-flow: row wrap;
	align-items: center;
	background-color: #000;
	justify-content: space-between;

	.hostel-legends {
		color: #fff;
		margin: 20px 0;
		max-width: 485px;
		font-weight: 900;
		text-transform: uppercase;

		strong {
			display: block;
			margin-bottom: 20px;
			@include rem(font-size, 24px);
		}

		p {
			@include rem(font-size, 12px);
		}
	}

	.hostel-icon {
		img {
			min-width: 64px;
		}
	}
}


/*
*
* END * HOTEL
*
*/