///*------------------------------------*\
//    #PARAGRAPHS
//\*------------------------------------*/

/* VARIABLES
========================================================================== */

/* PARAGRAPHS
========================================================================== */
.paragraph {
	line-height: 267%;
	color: $color-black;
	font-family: $font-primary;
	@include rem(font-size, 12px);
	@include rem(margin-bottom, 20px);

	&.size-14 {
		font-size: 14px;
	}
}

/* COLOR VARIATIONS
========================================================================== */
.paragraph--font-2 {
	font-family: $font-primary;
}

/* COLOR VARIATIONS
========================================================================== */
.paragraph--color-2 {
	color: $color-white;
}

.paragraph--color-3 {
	color: $color-mine-shaft;
}

.paragraph--color-4 {
	color: rgba($color-mine-shaft, .7);
}

.paragraph--color-5 {
	color: $color-cafe-royale;
}

/* SIZE VARIATIONS
========================================================================== */
.paragraph--size-2 {
	@include rem(font-size, 16px); line-height: 160%;
}